* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", Helvetica, Arial, serif;
  letter-spacing: 0.0125rem;
}

p {
  font-size: 16.25px
}

:root {
  --h2-font-size: 31.25px;
  --h3-font-size: 25px;
  --h4-font-size: 18.75px;
  --h5-font-size: 12.5px;
  --h6-font-size: 6.25px;

  /* Font color */
  --primary-text-color: #ffffff;
  --secondary-text-color: #1f1f1f;

  /* Card */
  --card-bg-color: #fff;
    /* Button */
    --btn-border-radius: 7.5px;
    --btn-bg-color: #1874fc;
    --btn-2bg-color: #ffffff;
    --btn-font-size: 18.75px;
    --btn-border-color: ;
    --font-size: 375;

    --btn-border-radius: 7.5px;
    --btn-font-size: 18.75px;

  /* Cancel button */
  --btn-cancel-color: #fff;
  --btn-cancel-bg-color: #df0133;

  /* Input */
  --input-border-radius: 7.5px;
  --input-border-color: 1.25px #e0dcdc solid;
  --input-border-color-when-hover:

  /*  */
  --card-border-radius: 6.25px;
  --line-height: 50px;
}

body {
  background-color: #0c1323;
}

.delete-btn{
  background-color: #df0133;
  border: 1.25px solid #a52d37;
  padding: 8.75px 17.5px 8.75px 17.5px;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  color: #fff;
  font-weight: 375;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ffffff;
  border: 1.25px solid #5e5f68;
  padding: 8.75px 17.5px 8.75px 17.5px;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  color: var(--secondary-text-color);
  font-size: var(--btn-font-size);
  cursor: pointer;
}


.highlight {
  font-size: 17.5px;
  padding: 1.25px 5px 1.25px 5px;
  margin: 0px -12.5px;
  background-color: #ffffff;
  border: 1px #e0dcdc solid;
  border-radius: var(--btn-border-radius);
  color: var(--secondary-text-color);
  font-size: var(--btn-font-size);
  cursor: pointer;
}

.top-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.self-center {
  display: flex;
  justify-self: center;
  align-self: center;
}

.warn-text {
  margin-bottom: 25px;  
}

.ant-table table { font-size: 14.625px; }

.ant-table-body {
  min-height: 625px;
}

.ant-tag {font-size: 13.75px;} 

.blue-btn {
  background:  #1874fc;
  color: white;
  align-self: center;
  border: none;
  padding: 12.5px 18.75px 12.5px 18.75px;
  border-radius: 7.5px;
  cursor: pointer;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
}


.search-blue-btn {
  background:  #1874fc;
  color: white;
  align-self: center;
  border: none;
  size: 20px;
  padding: 12.5px 18.75px 12.5px 18.75px;
  border-radius: 7.5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
}