* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.01rem;
}

p {
  font-size: 13px
}

:root {
  --h2-font-size: 25px;
  --h3-font-size: 20px;
  --h4-font-size: 15px;
  --h5-font-size: 10px;
  --h6-font-size: 5px;
  

  /* Font color */
  --primary-text-color: #ffffff;
  --secondary-text-color: #1f1f1f;

  /* Card */
  --card-bg-color: #fff;
    /* Button */
    --btn-border-radius: 6px;
    --btn-bg-color: #1874fc;
    --btn-2bg-color: #ffffff;
    --btn-font-size: 15px;
    --btn-border-color: ;
    --font-size: 300;



    --btn-border-radius: 6px;
    --btn-font-size: 15px;
  
  


  /* Cancel button */
  --btn-cancel-color: #fff;
  --btn-cancel-bg-color: #df0133;
  --btn-cancel-border: ;

  /* Input */
  --input-border-radius: 6px;
  --input-border-color: 1px #e0dcdc solid;
  --input-border-color-when-hover:

  /*  */
  --card-border-radius: 5px;
  --line-height: 40px;
}

body {
  background-color: #0c1323;
}


.delete-btn{
  background-color: #df0133;
  border: 1px solid #a52d37;
  padding: 7px 14px 7px 14px;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ffffff;
  border: 1px solid #5e5f68;
  padding: 7px 14px 7px 14px;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  color: var(--secondary-text-color);
  font-size: var(--btn-font-size);
  cursor: pointer;


}



.highlight {
  font-size: 14px;
  padding: 1px 4px 1px 4px;
  margin: 0px -10px;
  background-color: #ffffff;
  border: 1px #e0dcdc solid;
  border-radius: var(--btn-border-radius);
  color: var(--secondary-text-color);
  font-size: var(--btn-font-size);
  cursor: pointer;
}

.top-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
}

.self-center {
  display: flex;
  justify-self: center;
  align-self: center;
}


.warn-text {
  margin-bottom: 20px;  
}



.ant-table table { font-size: 11.7px; }

.ant-tag {font-size: 11px;} 

.blue-btn {
  background:  #1874fc;
  color: white;
  align-self: center;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  height: 32px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 12px;
  text-transform: uppercase;
}
