* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}



:root {
  /* Font size */
  --h1-font-size: 30px;
  --h2-font-size: 25px;
  --h3-font-size: 20px;
  --h4-font-size: 15px;
  --h5-font-size: 10px;
  --h6-font-size: 5px;
  --paragraph-text-size: 12px;

  /* Font color */
  --primary-text-color: #ffffff;
  --secondary-text-color: #1f1f1f;

  /* Card */
  --card-bg-color: #fff;

  /* Button */
  --btn-border-radius: 6px;
  --btn-bg-color: #1874fc;
  --btn-2bg-color: #ffffff;
  --btn-font-size: 15px;
  --btn-border-color: 1px #e0dcdc solid;
  --font-size: 300;


  /* Cancel button */
  --btn-cancel-color: #fff;
  --btn-cancel-bg-color: #df0133;
  --btn-cancel-border: 1px solid #a52d37;

  /* Input */
  --input-border-radius: 6px;
  --input-border-color: 1px #e0dcdc solid;
  --input-border-color-when-hover:

  /*  */
  --card-border-radius: 5px;
  --line-height: 40px;
}

body {
  background-color: #0c1323;
}


.delete-btn{
  background-color: var(--btn-cancel-bg-color);
  border: var(--btn-cancel-border);
  padding: 7px 14px 7px 14px;
  border-radius: var(--btn-border-radius);
  font-size: var(--btn-font-size);
  color: var(--btn-cancel-color);
  font-size: var(--btn-font-size);
  cursor: pointer;
}

.top-label {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  top: 0;
  left: 0;
}


.warn-text {
  margin-bottom: 20px;  
}


.highlight {
  font-size: 14px;
  padding: 1px 4px 1px 4px;
  margin: 0px -10px;
  background-color: var(--btn-2bg-color);
  border: var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  color: var(--secondary-text-color);
  font-size: var(--btn-font-size);
  cursor: pointer;
}